<div>
    <div class="login-header">
        <h2 v-if="isRegistering">Register</h2>
        <h2 v-else>Login</h2>
    </div>

    <%- include('error') -%>

    <form id="login" @submit.prevent="onSubmit">

        <div class="form-group">
            <label for="username">Username:</label>
            <input v-model="username" type="text" class="form-control input-field" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input v-model="password" type="password" class="form-control input-field" id="password" name="password" required>
        </div>

    </form>

    <div class="login-header">
        <br>
        <button v-if="isRegistering" @click="register()" type="submit" class="btn-bub">Register</button>
        <button v-else @click="login()" type="submit" class="btn-bub">Login</button>
        <br>
        <br>
        <button @click="isRegistering = !isRegistering" class="btn btn-link">
            {{ isRegistering ? 'Already have an account? Login' : 'Need an account? Register' }}
        </button>

    </div>
</div>
