<head>
    <link rel="stylesheet" href="/static/css/prompt.css">
</head>

<div>
    <h2>Type your questions now!</h2>
    <%- include('debug') -%>

    <br>
    <div v-if="me.admin" class="ms-auto d-inline align-self-end"> 
       <button @click="advance()" class="btn btn-bub">Advance</button>
    </div>   
  
<div v-if="me.state==0">
    <input class="form-control" v-model="submittedPrompt" @keyup.enter="makePrompt()" type="text" placeholder="Type here!">
</div>

<div v-if="me.state==1">
    <p>Submitted!</p>
</div> 

    <%- include('error') -%>
</div>
