<head>
    <link rel="stylesheet" href="/static/css/results.css">
</head>

<%- include('debug') -%>
<div class="results-screen">
    <h1>Results!</h1>
        <div v-if="me.admin && votingEnd === false" class="ms-auto d-inline align-self-end"> 
            <button @click="advanceStage5()" class="btn btn-bub">Advance</button>
        </div>
        <div v-if="me.admin && votingEnd" class="ms-auto d-inline align-self-end">
            <button @click="advanceStage6()" class="btn btn-bub">Advance</button>
        </div>
        <br>
        <br>

        <div><strong>{{ promptPrevious.text }}</strong></div>
        <br>
    <div class="score-display">
        <div><strong>Current Score: </strong>{{ currScore }}</div>
        <div><strong>Total Score: </strong>{{ totalScore }}</div>
    </div>
</div>
