<head>
    <link rel="stylesheet" href="/static/css/scores.css">
</head>

<%- include('debug') -%>

<div class="scores-screen">
    <h1>Current scores</h1>
    <%- include('error') -%>
    
    <div v-if="me.admin" class="ms-auto d-inline align-self-end"> 
        <button @click="advance()" class="btn btn-bub">Advance</button>
    </div>
    <br>
    <br>

    <ol>
        <li v-for="player in players.sort((p, p2) => p2.totalScore - p.totalScore )">
            <h4>{{player.username}} Total Score: {{player.totalScore}} Round: {{player.currScore}}</h4>
        </li>
    </ol>
</div>
