<head>
    <link rel="stylesheet" href="/static/css/vote.css">
</head>

<div class="center">
    <div><%- include('debug') -%></div>
</div>

<div v-if="votingPrompt" class="vote-screen">
    <h1> <strong>Vote!</strong> </h1>

    <div v-if="me.admin" class="ms-auto d-inline align-self-end"> 
        <button @click="advanceVote()" class="btn btn-bub">Advance</button>
    </div>
    <br>
    <br>
    <strong>{{ votingPrompt.text }}</strong>

    <div v-if="!voteSubmitted">
        <button @click="getVote(Object.keys(votingPrompt.answers[0])[0])">{{ Object.values(votingPrompt.answers[0])[0] }}</button>
        <br>
        <button @click="getVote(Object.keys(votingPrompt.answers[1])[0])">{{ Object.values(votingPrompt.answers[1])[0] }}</button>
    </div>
    <div v-else class="waiting-message">
        <p>Waiting for others...</p>
    </div>

</div>
